* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

.body-bg {
  background: url(https://i.pinimg.com/564x/62/52/f9/6252f9612f0c6665b7c2d8f2adf7119e.jpg);
}

.container {
  padding: 0px;
  margin: 0px auto;
}

.row {
  margin: 0;
}

/* header */

.header {
  background: rgb(75, 75, 77);
  border-bottom: 2px solid white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 1320px;
  margin: 0px auto;
  z-index: 3;
}

@media (max-width: 1399.88px) {
  .header {
    width: 1140px;
  }
}

@media (max-width: 1199.88px) {
  .header {
    width: 960px;
  }
}

.header__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  min-height: 70px;
}

.header__logo {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.65);
  z-index: 10;
}

/* Burger */

.menu__icon {
  display: none;
}

@media (max-width: 991.88px) {
  .menu__icon {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon:before,
  .menu__icon:after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease;
    background: #fff;
  }

  .menu__icon:before,
  .menu__icon:after {
    content: '';
  }

  .menu__icon:before {
    top: 0;
  }

  .menu__icon:after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header {
    width: 720px;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active:before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active:after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: -200%;
    left: 0;
    right: 0;
    width: 720px;
    height: 100%;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.8);
    transition: top 0.5s ease 0s;
    z-index: 5;
    overflow: auto;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__body::before {
    content: '';
    position: fixed;
    width: 720px;
    height: 70px;
    margin: 0px auto;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(75, 75, 77);
    z-index: 2;
  }

  .menu__list {
    margin-top: 70px;
  }

  .menu__list>li {
    padding: 0px 0px 30px 0px;
  }

  .menu__list>li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 24px;
  }
}

@media (max-width: 767.88px) {

  .header,
  .menu__body::before,
  .menu__body {
    width: 540px;
  }
}

@media (max-width: 575.88px) {
  .header {
    width: 100%;
  }

  .menu__body {
    width: 100%;
  }
}

/* list */

.menu__list>li {
  margin: 0px 0px 0px 20px;
  list-style: none;
}

@media (min-width: 991.88px) {
  .menu__list {
    display: flex;
    align-items: center;
  }

  .menu__list> {
    padding: 10px 0;
  }
}

.list__item {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  transition: all 0.5s ease;
}

.list__item:hover {
  color: black;
  transition: all 0.5s ease;
}

/* Main */
.main {
  padding-top: 70px;
}

/* CV-right side */

.cv-right {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-weight: bold;
}

.cv-header {
  font-size: 3rem;
  letter-spacing: 2px;
}

.mark-liner {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px auto 0px auto;
}

.job-title {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(75, 75, 77);

  padding: 0px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  background: #fff;
  z-index: 1;
}

.liner {
  height: 1px;
  width: 90%;
  background: black;
  margin: 0 5%;
}

.position-liner {
  position: absolute;

  bottom: 50%;
  z-index: 0;
}

.section-data {
  color: rgb(75, 75, 77);
  margin: 20px 6%;
}

.profile-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.profile-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.experience,
.profile {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.experience-list {
  margin-top: 20px;
  margin-bottom: 50px;
}

.experience-list img {
  padding: 20px 0px 0px 0px;
  width: 70%;
  margin: 0px auto;
  display: block;
}

h4 {
  font-size: 1.2rem;
}

section article ul li h4 {
  margin: 1px 0;
}

.uppercase {
  text-transform: uppercase;
}

.year {
  font-style: italic;
  font-size: 0.8rem;
}

.experience-ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.experience__img {
  width: 90%;
  padding: 0px 0px 30% 0px;
  margin: 20px auto 5px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.project-landing {
  background: url(../images/ScreenshotMyWorks.jpg) center/cover no-repeat;
}

.project-museum {
  background: url(../images/museum.jpg) center/cover no-repeat;
}

.project-christmas {
  background: url(../images/christmas.jpg) center/cover no-repeat;
}

.project-momentum {
  background: url(../images/momentum.jpg) center/cover no-repeat;
}

.project-art-quiz {
  background: url(../images/art-quiz.jpg) center/cover no-repeat;
}

.project-rs-lang {
  background: url(../images/rs-lang.jpg) center/cover no-repeat;
}

.project-manager {
  background: url(../images/project_manager.jpg) center/cover no-repeat;
}

.certificate_1 {
  background: url(../images/FCC_certificate.jpg) center/cover no-repeat;
  width: 100%;
  padding-bottom: 80%;
}

.certificate_2 {
  background: url(../images/JS_certificate.png) center/cover no-repeat;
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 20px;

}

.certificate_3 {
  background: url(../images/RS_certificate.jpg) center/cover no-repeat;
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 20px;

}

@media (max-width: 1199.88px) {
  .experience__img {
    width: 100%;
    padding: 0px 0px 50% 0px;
  }
}

.experience__img:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.experience-ul code {
  margin: 20px auto;
}

.experience-list__position-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

code,
pre,
pre code {
  white-space: pre-wrap;
  word-break: break-all;
}

/* CV-left side */
.cv-left a {
  color: #fff;
  text-decoration: none;
}

.cv-left a:hover {
  color: black;
}

.cv-left {
  background: rgb(75, 75, 77);
  color: #fff;
}

.cv-left__photoblock {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.cv-left__photo {
  width: 90%;
}

.cv-left__contacts {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  padding-left: 0;
  min-width: 190px;
}

.cv-left__contacts .name {
  display: none;
}

@media (max-width: 991.88px) {
  .cv-left__contacts .name {
    display: block;
    font-size: 1.5rem;
  }
}

@media (max-width: 767.88px) {
  .cv-left__contacts .name {
    font-size: 2rem;
  }
}

.cv-left__contacts li {
  margin: 5px auto;
}

.cv-left__contacts li span {
  padding: 0px 0px 0px 5px;
}

.cv-left__contacts li .email-span {
  padding: 0;
}

.cv-left__adress {
  font-size: 0.95rem;
  font-style: italic;
}

.left-line1,
.left-line2 {
  height: 1px;
  margin-top: 15px;
  margin-bottom: 25px;
  background: #fff;
}

.left-line2 {
  display: none;
}

.cv-left__title {
  padding-left: 0;
  margin: 4px 0 4px 0;
  font-size: 1.4rem;
}

.left-cv-list {
  font-size: 1rem;
  padding-left: 20px;
}

/* footer */

.footer {
  border-top: 2px solid white;
  background: rgb(75, 75, 77);
  font-size: 20px;
  color: #fff;
}

.footer__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

@media (max-width: 575.88px) {
  .footer__list li {
    flex: 0 1 50%;
    text-align: center;
  }

  .footer__list {
    margin-top: 20px;
  }
}

.footer__list a {
  color: #fff;
  text-decoration: none;
}

.footer__list a:hover {
  color: black;
}

/* media */
@media (max-width: 991.88px) {
  .cv-left__photoblock {
    width: 80%;
  }

  .left-line1 {
    display: none;
  }

  .left-line2 {
    display: block;
  }

  .left-cv-list {
    font-size: 1.2rem;
    padding-left: 30px;
  }

  .cv-left__title {
    font-size: 1.4rem;
  }

  .cv-left__skills {
    margin-top: 10px;
  }

  .cv-left__achievments {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.88px) {
  .cv-left__photoblock {
    width: 70%;
  }

  .left-line2 {
    display: block;
  }

  .cv-left__contacts {
    font-size: 1.3rem;
  }

  .left-cv-list {
    font-size: 1.1rem;
    padding-left: 30px;
  }

  .cv-left__title {
    font-size: 1.4rem;
  }

  pre {
    overflow: hidden;
  }
}

@media (max-width: 575.88px) {
  .cv-left__photoblock {
    width: 70%;
  }

  .left-line2 {
    display: block;
  }

  .cv-left__contacts {
    font-size: 1.3rem;
  }

  .left-cv-list {
    font-size: 1.1rem;
    padding-left: 30px;
  }

  .cv-left__title {
    font-size: 1.4rem;
  }
}
